<div nz-row>
  <div nz-col nzSpan="12">
    <h3>Voucher List</h3>
  </div>
  <div nz-col nzSpan="12" style="text-align: right;">
    <button nz-button nzType="default" nzSize="large" (click)="showModal('add')">Add new voucher</button>
  </div>
</div>
<div nz-row style="margin-top:16px">
  <nz-table #basicTable [nzData]="voucherData">
    <thead>
      <tr>
        <th>Code</th>
        <th>Deduction Type</th>
        <th>Value</th>
        <th>Expired date</th>
        <th>Last updated</th>
        <th>Status</th>
        <th colspan="2">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.voucher_code || "-" }}</td>
        <td>{{ data.type | titlecase }}</td>
        <td>
          {{ data.value }} <small *ngIf="data.type == 'discount'">%</small>
        </td>
        <td>
          {{ data.expire_date | date: "medium" }}
          <small *ngIf="!data.expire_date">No expiry date</small>
        </td>
        <td>{{ data.updatedAt | date: "medium" }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a (click)="showModal('edit', data)">Edit voucher</a>
          
        </td>
        <td>
          <a [routerLink]="['detail', data.voucher_code]">List User Used Voucher</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="{{ currVoucher?.voucher_code }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  nzOkText="{{currFormMode | titlecase}}"
>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired nzFor="voucher_code"
        >Voucher code</nz-form-label
      >
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="voucher_code" id="voucher_code" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="type" nzRequired
        >Voucher type</nz-form-label
      >
      <nz-form-control [nzSpan]="12" nzErrorTip="Please select your type!">
        <nz-select
          id="type"
          formControlName="type"
          nzPlaceHolder="Select a option and change input text above"
        >
          <nz-option
            nzValue="discount"
            nzLabel="Discount in percentage"
          ></nz-option>
          <!-- <nz-option nzValue="voucher" nzLabel="Direct discount"></nz-option> -->
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="value">Value</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-input-number
          formControlName="value"
          [nzMin]="1"
          [nzMax]="100"
          [nzStep]="1"
          [nzFormatter]="formatterPercent"
          [nzParser]="parserPercent"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Start Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker formControlName="start_date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">End Date</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker formControlName="expire_date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="limit"
        >Voucher limit</nz-form-label
      >
      <nz-form-control [nzSpan]="12">
        <nz-input-number id="limit"
          formControName="limit"
          [nzStep]="1"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="status" nzRequired
        >Status</nz-form-label
      >
      <nz-form-control [nzSpan]="12" nzErrorTip="Please select your type!">
        <nz-select id="status" formControlName="status">
          <nz-option nzValue="active" nzLabel="Active"></nz-option>
          <nz-option nzValue="inactive" nzLabel="Inactive"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
