<div nz-row>
  <div nz-col nzSpan="12">
    <h3>Order List</h3>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="12">
    <nz-radio-group
      [(ngModel)]="currFilter"
      [nzButtonStyle]="'solid'"
      (ngModelChange)="filter($event)"
    >
      <label nz-radio-button nzValue="styling">Styling</label>
      <label nz-radio-button nzValue="sent">Sent</label>
      <label nz-radio-button nzValue="delivered">Delivered</label>
      <label nz-radio-button nzValue="paid">Paid</label>
      <label nz-radio-button nzValue="expire">Expired</label>
      <label nz-radio-button nzValue="cancel">Cancelled</label>
    </nz-radio-group>
  </div>
  <div nz-col nzSpan="2">
    <button *ngIf="currFilter != ''" nz-button nzType="danger" nzGhost nzBlock (click)="filter('reset')">
      Reset
    </button>
  </div>
  <div nz-col nzSpan="8" nzOffset="2">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input #search type="text" nz-input placeholder="Search by id, email, or name" />
    </nz-input-group>
    <ng-template #suffixTemplate
      ><i
        nz-icon
        nz-tooltip
        class="ant-input-clear-icon"
        nzTheme="fill"
        nzType="close-circle"
        *ngIf="search.value"
        (click)="getOrderList();search.value = null"
      ></i
    ></ng-template>
  </div>
</div>

<!-- <div nz-row>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('styling')"
    >
      Styling
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('sent')"
    >
      Sent
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('delivered')"
    >
      Delivered
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('paid')"
    >
      Paid
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('expire')"
    >
      Expired
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzBlock
      (click)="filter('cancel')"
    >
      Cancelled
    </button>
  </div>
  <div nz-col nzSpan="2" class="margin-x" *ngIf="currFilter != ''">
    <button
      nz-button
      nzType="danger"
      nzGhost
      nzBlock
      (click)="filter('reset')"
    >
      Reset Filter
    </button>
  </div>
</div> -->

<!-- <div nz-row nzType="flex" nzJustify="end" style="margin-top:15px"> 
  <div nz-col nzSpan="9" style="width:unset">
    Show
    <nz-select [(ngModel)]="pageSize" nzAllowClear nzPlaceHolder="Choose">
      <nz-option nzValue="8" nzLabel="8"></nz-option>
      <nz-option nzValue="12" nzLabel="12"></nz-option>
    </nz-select>
    Items
  </div>
</div> -->

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }" style="margin-top:16px">
  <ng-template ngFor let-item [ngForOf]="data" let-i="index">
    <div nz-col nzSpan="6">
      <nz-card
        class="margin-y"
        [nzTitle]="item.order_id"
        [nzExtra]="extraTemplate"
      >
        <small>Client name</small>
        <p>{{ item?.billing_id?.shipment_name || "No name provided" }}</p>
        <small>Client e-mail</small>
        <p>{{ item?.user_id?.email || "No email provided" }}</p>
        <small>Items</small>
        <p>{{ item.items || "Invalid data" }}</p>
        <small>Created At</small>
        <p>{{ item.createdAt | date: "medium" }}</p>
        <!-- <small>Additional Notes</small> -->
        <!-- <p>{{ item.additional_note || "No requests" }}</p> -->
        <small>Total Payment</small>
        <p>{{ item.payment_total | currency: "IDR " }}</p>
        <small>Current Status</small>
        <p [ngStyle]="{ color: item.color_status }">{{ item.order_status }}</p>
        <!-- <button nz-button nzType="primary" (click)="detailed(item)">Detailed</button> -->
      </nz-card>
      <ng-template #extraTemplate>
        <a (click)="detailed(item)">Detail</a>
      </ng-template>
    </div>
  </ng-template>
</div>

<div nz-row nzType="flex" nzJustify="end">
  <div nz-col nzSpan="9" style="width:unset">
    <nz-pagination
      [nzPageIndex]="1"
      [nzPageSize]="8"
      [nzTotal]="totalItems"
      (nzPageIndexChange)="indexChanged($event)"
    ></nz-pagination>
  </div>
</div>
