<div nz-row nzType="flex" nzJustify="center" class="login-page">
  <div nz-col nzLg="12" nzSm="0"></div>

  <div nz-col [nzXl]="{ span: 6 }" nzSm="24" style="text-align: center;">
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
    <div style="text-align:center;margin-bottom:40px">
      <img src="assets/images/sketchfit-logo.svg">
    </div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'danger'">
            Log in
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
