.login-page{
  background: url('../../../assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100vh;
}

.login-form {
  height: 33vh;
  padding-top: 33vh; 
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-btn-danger{
  background-color: #000000;
  color: white;
  border-color: #000000;
}
