<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">Order List</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    Order Detail
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row class="margin-y">
  <div nz-col nzSpan="3">Status</div>
  <div nz-col nzSpan="4">
    <p [ngStyle]="{ color: data?.color_status }">{{ data?.order_status }}</p>
  </div>
</div>
<hr />
<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><b>Order Id</b></div>
  <div nz-col nzSpan="4">{{ data?.order_id }}</div>
</div>
<hr />
<div nz-row class="margin-y">
  <div nz-col nzSpan="12">
    <h2>Billing Info</h2>
  </div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Billing Namne</strong></div>
  <div nz-col nzSpan="4">{{ data?.billing_id?.billing_name }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Phone Number</strong></div>
  <div nz-col nzSpan="4">{{ data?.billing_id?.billing_phone_number }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Email</strong></div>
  <div nz-col nzSpan="4">{{ data?.billing_id?.email }}</div>
</div>
<br/>

<div nz-row class="margin-y">
  <div nz-col nzSpan="12">
    <h2>Package detail</h2>
  </div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Name</strong></div>
  <div nz-col nzSpan="4">{{ data?.package_id?.name }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Price</strong></div>
  <div nz-col nzSpan="4">{{ data?.package_id?.price }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Additional Note</strong></div>
  <div nz-col nzSpan="4">
    {{ data?.additional_note || "No additional notes" }}
  </div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Send At</strong></div>
  <div nz-col nzSpan="4">{{ data?.send_at || "-" }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="12">
    <h2>Shipment Info</h2>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="3" nzOffset="2"><strong>Name</strong></div>
  <div nz-col nzSpan="4">{{ data?.billing_id?.shipment_name }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Phone Number</strong></div>
  <div nz-col nzSpan="4">{{ data?.billing_id?.shipment_phone_number }}</div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="3" nzOffset="2"><strong>Shipment Address</strong></div>
  <div nz-col nzSpan="4">
    {{ data?.billing_id?.shipment_address }} <br />{{
      data?.billing_id?.shipment_city
    }}, {{ data?.billing_id?.shipment_postal_code }}<br />
  </div>
</div>

<div nz-row class="margin-y">
  <div nz-col nzSpan="12">
    <h2>Review Info</h2>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="3" nzOffset="2"><strong>Review</strong></div>
  <div nz-col nzSpan="4">{{ data?.review || "Not yet reviewed" }}</div>
</div>

<div nz-row>
  <div nz-col nzSpan="3" nzOffset="2"><strong>Star</strong></div>
  <div nz-col nzSpan="4">
    <nz-rate [ngModel]="data?.star" nzDisabled></nz-rate>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="12"><h2>Change Status:</h2></div>
</div>

<div nz-row>
  <div nz-col nzSpan="4" style="margin-right: 1%">
    <button
      nz-button
      nzBlock
      nzType="default"
      nzShape="round"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure change status to 'Styling'?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirm('styling')"
      (nzOnCancel)="cancel()"
    >
      Styling
    </button>
  </div>
  <div nz-col nzSpan="4" style="margin-right: 1%">
    <button
      nz-button
      nzBlock
      nzType="default"
      nzShape="round"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure change status to 'Sent'?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirm('sent')"
      (nzOnCancel)="cancel()"
    >
      Sent
    </button>
  </div>
  <div nz-col nzSpan="4" style="margin-right: 1%">
    <button
      nz-button
      nzBlock
      nzType="default"
      nzShape="round"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure change status to 'Delivered'?"
      nzPopconfirmPlacement="bottom"
      (nzOnConfirm)="confirm('delivered')"
      (nzOnCancel)="cancel()"
    >
      Delivered
    </button>
  </div>
</div>

<!-- Input no. resi section -->
<!-- <div nz-row style="margin-top:30px" *ngIf="data?.order_status == 'Proses Pengiriman Box'">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Input no. resi (Jika ada)" [(ngModel)]="resi" />
  </div>
  <div nz-col nzSpan="1" class="margin-x"></div>

  <div nz-col nzSpan="2" class="margin-x">
    <button
      nz-button
      nzType="primary"
      nzBlock
      (click)="submit('123123123')"
    >
      Submit resi
    </button>
  </div>
</div> -->
